.deps
Bitmap
Bitmap-color
Bitmap-nocase
Makefile
Makefile.in
aclocal.m4
atobm
atobm.1
autom4te.cache
bitmap
bitmap.1
bmtoa
bmtoa.1
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*~
*.o
ChangeLog
bitmap-*.tar.*
tags
